
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

/* Estilos adicionales */
/* seccion Incorporaciones */
.rounded-photo {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card Estilos */
.card {
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Tarjetas */
.card-person {
    padding: 15px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-person:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Animaciones */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Secciones */
.recent-section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.secondary-section {
    padding: 20px;
    border-top: 2px dashed #ccc;
    margin-top: 20px;
}

/* Documentos */
#pdfViewer {
    width: 100%;
    height: 70vh; /* Altura fija */
    overflow-y: auto; /* Habilitar scroll si es necesario */
    background-color: #f0f0f0;
    padding: 10px; /* Espaciado interno */
}



#destacado {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #007bff;
}

.list-group-item {
    padding: 5px 5px; /* Reducir padding */
    margin: 5px;
    border-radius: 25px;
    border-bottom: 4px solid #ddd; /* Separador limpio */
    font-size: 0.95rem; /* Texto más compacto */
}
.list-group-item:hover {
    background-color: #f8f9fa; /* Fondo claro al pasar el cursor */
    text-decoration: underline; /* Efecto de enlace al hover */
}
.list-group-item a {
    text-decoration: none; /* Sin subrayado */
    color: #007bff; /* Color de enlace estándar */
}
.list-group-item a:hover {
    text-decoration: underline; /* Subrayado al hover */
}



/* Últimos Archivos */
#ultimos-documentos .card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

#ultimos-documentos .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* FOOTER */
footer {
    margin-top: 40px;
    background-color: #222;
    color: #ddd;
    padding: 20px 0;
    text-align: center;
}

footer h5 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer a {
    color: #ddd;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer .bi {
    font-size: 1.5rem;
}
footer hr {
    margin: 20px 0;
}

footer .gap-3 > li {
    display: inline-block;
    margin-right: 15px;
}

@media (max-width: 768px) {
    footer .row > div {
        margin-bottom: 20px;
        text-align: center;
    }
    #pdfViewer {
        height: 60vh; /* Reducir altura en dispositivos móviles */
        padding: 5px; /* Menos espaciado para aprovechar el espacio */
    }

    canvas {
        width: 100% !important; /* Escalar el canvas al 100% del contenedor */
        height: auto !important; /* Mantener proporciones */
    }
    footer .gap-3 {
        justify-content: center;
    }
}
