
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

/* Estilos adicionales */
/* seccion Incorporaciones */
.rounded-photo {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tarjetas */
.card-person {
    padding: 15px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-person:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Animaciones */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Secciones */
.recent-section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.secondary-section {
    padding: 20px;
    border-top: 2px dashed #ccc;
    margin-top: 20px;
}